* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', Helvetica, sans-serif;
}


body {
    background-color: black;
}

nav {
    font-weight: 300;
    letter-spacing: 1.5px;
    display: flex;
    position: fixed;
    margin: 30px 30px;
    top: 0;
    width: 90vh;
    transform: rotate(90deg);
    transform-origin: left top 0;
}

nav a {
    opacity: 0;
}

a {
    font-size: .8rem;
    text-decoration: none;
    color: white;
    overflow: hidden;
    padding: 0 4px;
    margin-right: 20px;
}

/*nav hover*/
nav a span {
    position: relative;
    display: inline-block;
    transition: .3s;
}

nav a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0,0,0);
    color: orangered;
}

nav a:hover span, nav a:focus span {
    transform: translateY(-100%);
}

nav a.current {
    color: orangered;
}



h2 {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 130px auto 100px auto;
}

.wrapper .about p {
    font-size: 2.441rem;
    font-weight: 200;
    line-height: 3.5rem;
}

p {
    color: white;
}

p span {
    color: orangered;
}

.contact {
    color: white;
    width: 250px;
    margin-right: 0px;
    letter-spacing: 1px;
}

.contact #mail {
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: .8rem;
}

.contact a {
    color: white;
    transition: all .3s ease;
    margin: 0px -4px;
}

.contact a:hover {
    color: orangered;
}

.contact p {
    margin: 5px 0px;
}

.bottom {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.me {
    min-width: 300px;
    margin: 0;
}

.me img {
    margin-left: 40px;
    width: 100%;
    max-width: 500px;
    height: auto;
}

/*work*/

.wrapper2 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: 130px 10px 130px 80px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    height: 70vh;
    transition: .3s;
    margin-bottom: 30px;
    opacity: 0;
}

.title {
    transition: .3s;
}

.project:hover {
    opacity: 1 !important;
}

.project:hover .title {
    transform: translateY(-7px);
}

.project p {
    font-size: .9rem;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 30px;
}

h3 {
    margin: 0px 0px 5px 30px;
    font-size: .7rem;
    color: orangered;
}

.cary {
    background-image: url("imgs/carycover.jpg");
    background-size: cover;
    background-position: center;
}

.nmdid {
    background-image: url("imgs/nmdidcover.jpg");
    background-size: cover;
    background-position: center;
}

.threeD {
    background-image: url("imgs/3dcover2.jpg");
    background-size: cover;
    background-position: center;
}