* {
    box-sizing: border-box;
    font-family: 'Libre Franklin', Helvetica, sans-serif;

    /* SVG cursor */
    cursor: url("data:image/svg+xml,%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In --%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/' x='0px' y='0px' width='18.3px' height='18.3px' viewBox='0 0 18.3 18.3' style='enable-background:new 0 0 18.3 18.3;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bopacity:0.9;fill:%23FF2A00;%7D%0A%3C/style%3E%3Cdefs%3E%3C/defs%3E%3Ccircle class='st0' cx='9.2' cy='9.2' r='9.2'/%3E%3C/svg%3E%0A") 10 10, auto;
}


body {
    width: auto;
    background-color: #0a0a0a;
}

nav {
    font-weight: 300;
    letter-spacing: 1.5px;
    display: flex;
    position: fixed;
    margin: 30px 30px;
    top: 0;
    width: 90vh;
    transform: rotate(90deg);
    transform-origin: left top 0;
}

nav a {
    margin-left: 10px;
    opacity: 0;
    font-size: .8rem;
}

a {
    text-decoration: none;
    color: white;
    overflow: hidden;
    margin-right: 20px;
}

/*nav hover*/
nav a span {
    position: relative;
    display: inline-block;
    transition: .3s;
}

nav a span::before {
    position: absolute;
    top: 100%;
    content: attr(data-hover);
    transform: translate3d(0, 0, 0);
    color: orangered;
}

nav a:hover span,
nav a:focus span {
    transform: translateY(-100%);
}

nav a.current {
    color: orangered;
}

.logo {
    margin: 0 auto;
    width: 100px;
    position: fixed;
    z-index: 2;
    top: 30px;
    left: 45%;
}

h2 {
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-top: 0px;
}

#fade1, #fade2, #fade3, #fade4, #fade5, #fade6 {
	opacity: 1;
	transition: 1s all cubic-bezier(0.400, 0.015, 0.530, 1.015);
}

#fade2 {
	transition-delay: .2s;
}

#fade3 {
	transition-delay: .5s;
}

#fade4 {
	transition-delay: .8s;
}

#fade5 {
	transition-delay: .2s;
}

/* what the fades turn into from full opacity to none */
#fade1.fade, #fade2.fade, #fade3.fade, #fade4.fade, #fade5.fade{
	opacity: 0;
	transition: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 160px auto 100px auto;
}

.wrapper .about p {
    font-size: 2.441rem;
    font-weight: 200;
    line-height: 3.5rem;
}

p {
    color: white;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5rem;
    letter-spacing: .02rem;
}

p span {
    color: orangered;
}

.contact {
    color: white;
    width: 250px;
    margin-right: 0px;
    letter-spacing: 1px;
}

.contact #mail {
    letter-spacing: .05rem;
    font-weight: 300;
    font-size: .8rem;
}

.contact a {
    font-size: .8rem;
    color: white;
    transition: all .3s ease;
    letter-spacing: .05rem;
}

.contact a:hover {
    color: orangered;
}

.contact p {
    margin: 5px 0px;
}

.bottom {
    display: flex;
    margin-top: 200px;
    flex-direction: row;
    justify-content: space-between;
}

.me {
    min-width: 300px;
    margin: 0;
}

.me img {
    margin-left: 40px;
    width: 90%;
    max-width: 500px;
    height: auto;
}

.me img:hover {
    cursor: url("imgs/woof.png"), auto;
}

/*work*/

.wrapper2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 130px 10px 130px 80px;
}

.project {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    height: 80vh;
    transition: .3s;
    margin-bottom: 30px;
    opacity: .7;
}

.title {
    transition: .3s;
    margin-left: 30px;
}

.project:hover {
    opacity: 1 !important;
}

.project:hover .title {
    transform: translateY(-7px);
}

.project p {
    font-size: .9rem;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 30px;
}

h3 {
    margin-bottom: 5px;
    font-size: .7rem;
    color: orangered;
}

.cary {
    background-image: url("imgs/carycover.jpg");
    background-size: cover;
    background-position: center;
}

.nmdid {
    background-image: url("imgs/nmdidcover.jpg");
    background-size: cover;
    background-position: center;
}

.threeD {
    background-image: url("imgs/3dcover2.jpg");
    background-size: cover;
    background-position: center;
}

/*RESUME*/

.wrapper3 {
    display: flex;
    width: 70%;
    flex-direction: row;
    margin: 130px auto;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}

.right h3,
.left h3 {
    margin-top: 60px;
    margin-bottom: 15px;
}

.left p {
    max-width: 400px;
}

.left p,
.right p {
    margin: 5px 30px 5px 0px;
}

.date {
    color: gray;
    font-size: .7rem;
    font-weight: 400;
    margin: 0px;
}

h4 {
    color: white;
    margin: 10px 0px 0px 0px;
}

.two {
    margin-top: 30px;
}


/* resume PRINT */

@page {
    size: A4;
}

@media print {
    nav {
        display: none;
    }

    .wrapper3 {
        width: 90%;
        margin-top: 30pt;
        margin-bottom: 0pt;
    }

    .left p,
    .right p {
        color: black;
    }

    h4 {
        color: black;
    }

    img.logo {
        display: none;
    }
}


/* DOCS */

.wrapper p a {
    transition: all .3s ease;
}

.wrapper p a:hover {
    color: orangered;
}

.wrapper h3 {
    margin-top: 60px;
}

.wrapper p {
    margin: 10px 0px 0px 0px;
}

/*cary*/


video {
    margin: 40px auto 10px auto;
    width: 100%;
}

.wrapper4 {
    width: 60%;
    margin: 0 auto;
}

.wrapper2 img {
    height: 100%;
    width: 100%;
    margin-top: 20px;

}

/* custom scroll */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;

}

::-webkit-scrollbar-corner {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 10px;
}


/* responsive- mobile */

input,
label {
    display: none;
}

.mobilenav {
    display: none;
    opacity: 0;
    transition: .3s;
    background-color: #0a0a0a;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mobilenav a {
    opacity: 0;
}

.current {
    color: orangered;
}

div.box {
    background-color: white;
    width: 30px;
    height: 1px;
    margin-bottom: 7px;
}

div.box:nth-child(3) {
    width: 20px;
}

@media (max-width: 640px) {
    html {
        max-width: 100%;
        overflow-x: hidden;
    }

    .logo {
        left: 30px;
    }

    nav {
        display: none;
    }

    section.burger {
        margin-top: 20px;
    }

    label {
        display: block;
    }

    label[for="nav-trigger"] {
        margin-right: 30px;
        position: fixed;
        top: 11px;
        right: 0px;
        z-index: 2;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

    body {
        margin: 0;
        width: 100vw;
    }

    .project {
        opacity: 1 !important;
        height: 40vh;
    }

    .wrapper3 {
        position: relative;
        flex-direction: column;
        margin: 130px 30px 100px 30px;
        width: 90%;
        transition: .3s;
    }

    .wrapper {
        position: relative;
        width: 90%;
        margin: 130px 0px 50px 0px;
        transition: .3s;
    }

    .docs {
        width: 80%;
        margin: 100px 5px 60px 30px;
    }

    .wrapper2 {
        position: relative;
        width: 100%;
        margin: 160px 0px 50px 0px;
        transition: .3s;
        background-color: #0a0a0a;
    }

    .wrapper2 a {
        margin: 0;

    }

    .wrapper4 {
        width: 85%;
        margin: 60px 30px 30px 30px;
    }

    .mobilenav a:active {
        color: orangered;
    }

    .nav-trigger:checked~.wrapper2,
    .nav-trigger:checked~.wrapper3,
    .nav-trigger:checked~.wrapper {
        opacity: 0;
        /* disable links */
        pointer-events: none;
    }

    .nav-trigger:checked~.mobilenav {
        opacity: 1;
        display: flex;
        flex-direction: column;
        position: fixed;
        pointer-events: all;
        margin-top: 40px;
    }

    .nav-trigger:checked~.mobilenav a {
        text-align: center;
        opacity: 1;
        margin: 30px 0px;
        width: 100vw;
        font-size: 2rem;
        font-weight: 200;
    }

    .left p,
    .right p {
        max-width: 600px;
    }

    .left,
    .right {
        width: 100%;
    }

    .bottom {
        flex-direction: column;
    }

    .about p {
        font-size: 2rem !important;
        line-height: 3rem !important;
    }

    .contact h2 {
        margin-top: 30px;
        font-size: 1.3rem;
    }

    .contact p,
    #mail {
        margin: 0;
    }

    .me img {
        width: 110%;
        margin: 50px 0 0 0;
    }

    .about,
    .bottom {
        margin: 30px;
    }

}